- Quest√£o 1

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import rand

matriz = np.random.rand(10, 4)

col = ['age', 'mean_N1', 'mean_N2', 'ira']
dfnum = pd.DataFrame(data=matriz, columns=col)
display(dfnum.iloc[0:3])

        age   mean_N1   mean_N2       ira
0  0.022293  0.872516  0.030211  0.460863
1  0.331857  0.615911  0.271881  0.317051
2  0.783948  0.947859  0.987611  0.804901

- Quest√£o 2

In [ ]:
dfnum['mean_final']=(dfnum['mean_N1']+dfnum['mean_N2'])/2
dfnum

        age   mean_N1   mean_N2       ira  mean_final
0  0.022293  0.872516  0.030211  0.460863    0.451363
1  0.331857  0.615911  0.271881  0.317051    0.443896
2  0.783948  0.947859  0.987611  0.804901    0.967735
3  0.126916  0.087037  0.188891  0.029432    0.137964
4  0.838194  0.952366  0.021646  0.298475    0.487006
5  0.220515  0.504658  0.968709  0.724347    0.736683
6  0.303440  0.446726  0.419091  0.534535    0.432909
7  0.104917  0.107446  0.458791  0.620938    0.283118
8  0.920499  0.297171  0.487228  0.307452    0.392200
9  0.767448  0.790347  0.510146  0.749446    0.650246

- Quest√£o 3

In [ ]:
dfnum.describe()

             age    mean_N1    mean_N2        ira  mean_final
count  10.000000  10.000000  10.000000  10.000000   10.000000
mean    0.442003   0.562204   0.434421   0.484744    0.498312
std     0.346124   0.328576   0.336866   0.247910    0.235054
min     0.022293   0.087037   0.021646   0.029432    0.137964
25%     0.150316   0.334560   0.209639   0.309852    0.402377
50%     0.317648   0.560284   0.438941   0.497699    0.447630
75%     0.779823   0.851974   0.504417   0.698495    0.609436
max     0.920499   0.952366   0.987611   0.804901    0.967735

- Quest√£o 4

In [ ]:
dic= {'id' : [11, 91, 33, 25, 32, 49, 64, 78, 9, 5], 'name' : ['jo√£o', 'maria', 'jesus', 'pedro', 'tiago', 'madalena', 'debora', 'mois√©s', 'yeshua', 'Ar√£o']}
dfdic = pd.DataFrame(data = dic)
dfdic

df3 = dfnum.join(dfdic)
display(df3)

        age   mean_N1   mean_N2       ira  mean_final  id      name
0  0.022293  0.872516  0.030211  0.460863    0.451363  11      jo√£o
1  0.331857  0.615911  0.271881  0.317051    0.443896  91     maria
2  0.783948  0.947859  0.987611  0.804901    0.967735  33     jesus
3  0.126916  0.087037  0.188891  0.029432    0.137964  25     pedro
4  0.838194  0.952366  0.021646  0.298475    0.487006  32     tiago
5  0.220515  0.504658  0.968709  0.724347    0.736683  49  madalena
6  0.303440  0.446726  0.419091  0.534535    0.432909  64    debora
7  0.104917  0.107446  0.458791  0.620938    0.283118  78    mois√©s
8  0.920499  0.297171  0.487228  0.307452    0.392200   9    yeshua
9  0.767448  0.790347  0.510146  0.749446    0.650246   5      Ar√£o

- Quest√£o 5

In [ ]:

df_titanic = pd.read_csv("train.csv")
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q